<div class="container mt-4">
  <h3 style="text-align: center;">All products</h3>
  <a href="/admin/products/add"><button
      type="button"
      class="btn btn-success"
    >Add product</button></a>
  <table id="myTable" class="table table-striped">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>MRP</th>
        <th>Price</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <th><img
              src="/images/products/{{_id}}.jpg"
              width="20px"
              height="20px"
            /></th>
          <th>{{productName}}</th>
          <th>{{productMrp}}</th>
          <th>{{productPrice}}</th>
          <th>
            <a href="/admin/products/edit/{{_id}}" class="d-inline"><button
                type="button"
                class="btn btn-primary"
              >Edit</button></a>
            <form action="/admin/products/delete/" method="post" class="d-inline">
              <input type="hidden" name="productId" value="{{_id}}" />
              <button
                type="submit"
                class="btn btn-danger"
                onClick="return confirmSubmit()"
              >Delete</button>
            </form>

          </th>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>