<div class="container mt-4">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Totel</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <th><img
              src="/images/products/{{_id}}.jpg"
              width="20px"
              height="20px"
            /></th>
          <th>{{productName}}</th>
          <th>₹ {{productPrice}}</th>
          <th>{{productQty}}</th>
          <th>
            ₹ {{productTotelPrice}}
          </th>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

