<div class="container mt-4">
    <a href="/users/placeorder">
      <button type="button" class="btn btn-success">Place Order</button>
    </a>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Totel</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr id="product-{{_id}}">
          <td><img
              src="/images/products/{{_id}}.jpg"
              width="20px"
              height="20px"
            /></td>
          <td>{{productName}}</td>
          <td>₹ {{productPrice}}</td>
          <td><button
              class="btn btn-secondary btn-sm"
              onclick="changeCartItemQty('{{_id}}', -1, {{productPrice}})"
            >-</button><span id="qty-{{_id}}">{{productQty}}</span><button
              class="btn btn-secondary btn-sm"
              onclick="changeCartItemQty('{{_id}}', 1, {{productPrice}})"
            >+</button></td>
          <td>
            ₹
            <span id="totel-{{_id}}">{{productTotelPrice}}</span>
          </td>
        </tr>
      {{/each}}
      <tr>
        <th colspan="4">Totel</th>
        <th>₹ <span id="cartSum">{{cartSum}}</span></th>
      </tr>
    </tbody>
  </table>
</div>